.FullName__wrap {
  color: #ddd;
  text-transform: uppercase;
  z-index: 1;
}

.FullName {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 0;
}

.Position {
  font-size: 1.5rem;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .FullName__wrap {
    text-align: center;
  }
  .FullName {
    font-size: 1.5rem;
  }
  .Position {
    font-size: 1.2rem;
  }
}
